/********************************
    Header
********************************/

header {
    background: #FF4D97;
    border-bottom: 5px solid #616161;
    position: relative;
    top: -20px;
}

#glasses_img {
    margin-left: 30px;
    margin-top: -30px;    
}

#profile_pic_1 {
    margin-left: 875px;
    margin-top: -30px;
}



/********************************
    Navigation
********************************/

nav ul li,
a {
    display: inline;
    font-size: 1.2em;
    margin: 30px;
}

nav {
    
}






footer {
    background: #57BCFF;
}