/********************************
    Header
********************************/

header {
    background: #FF4D97;
    border-bottom: 5px solid #616161;
    position: relative;
    top: -20px;
}


/********************************
    Navigation
********************************/

nav ul li,
a {
    display: inline;
    font-size: 1.2em;
    margin: 30px 30px 0px 30px;
    
}

nav {
    
}






footer {
    background: #57BCFF;
    text-align: right;
    postition: relative;
    padding: 0px 10px;
    margin-top: 400px;
}