/********************************
    Header
********************************/

header {
    background: #FF4D97;
    border-bottom: 5px solid #616161;
    position: relative;
    top: -20px;
}


/********************************
    Navigation
********************************/

nav ul li,
a {
    display: inline;
    font-size: 1.2em;
    margin: 30px 30px 0px 30px;
    
}

/*********************************

*********************************/

footer {
    padding: 10px 10px;
    margin-top: 300px;
    float: relative;
    border-top-left-radius: 10px; 
    text-align: center;
    font-size: 1.5em;
}

.bird {
    height: 40px;
}