/****************************************
    Media Queries
****************************************/
@media only screen and (min-width: 320px) {
     .my_name {
        margin-left: 75px;
        font-size: 4em;
        padding-top: 250px; 
         
         
    }
    
    nav ul li a:link {
        font-size: 1em;
        margin-top: 50px;
        padding: 0px;
    }
    
    nav ul li {
        margin: 0px -30px;

    }
    
    li a {
        color: black;
        background-color: rgba(255,255,255,0.5);
    
    }
    
    #square_profile_pic {
        height: 0; 
        width: 0; 
        overflow: hidden;
    }
    
    .about_p,
    .reviews {
        margin: 0px 50px 20px;
    }
    
    .book_cover,
    .burn_bush {
        margin: 0px 0px 30px;
        height: 300px;
    }
    
    .c_book_store {
        margin: 0px 0px 20px;
        height: 100px;
    }
    
    .k_book_store {
        margin: 0px 0px 20px;
        height: 200px;
    }
    
    .buy_now_button {
        margin: 0px 0px 20px;
    }
   
    #event_pics { 
        height: 0; 
        width: 0; 
        overflow: hidden;
    }
    
    #stamps {
        height: 200px;
        margin-left: 75px;
        margin-top: -100px;
    }
    
    .footer {
        margin-top: -500px;
    }
    
    .events_p {
        font-size: 1.7em;
    }
    
    .about_p a:link {
        text-decoration: none;
    }
    
    div p a {
        display: none;
    }
    
    .social_email,
    .social_email2 {
        height: 0; 
        width: 0; 
        overflow: hidden;
    }
    
}


   /* Small devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) { 
   .my_name {
        margin-left: 250px;
        font-size: 5em;
    }
    
    nav ul li a:link {
        font-size: 1.3em;
        margin: 0px 50px;
        padding: 10px;
    }
    
    .book_cover {
        margin-left: 192px;
    }
    
    .buy_now_button {
        margin-left: 275px;
    }
    
    #stamps {
        margin-left: 250px;
        margin-top: 45px;
    }
    
   .social_email,
   .social_email2 {
        height: 150px;
        width: 300px;
        margin-left: 208px;   
    }
    
    .email {
        padding-left: 19px;
    }
    
    div p a {
        display: inline;
    }
    
    .reviews {
        margin: 20px 50px 30px;
    }
    
}

/* Medium devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .my_name {
        font-size: 6em;
        padding-left: 50px;
        
    }
    
    #square_profile_pic {
        height: 200px;
        width: 200px;
        float: right;
    }
    
    div p a {
        display: inline;
        
    }
    
    .book_cover {
        margin-left: 315px;
    }
    
    .buy_now_button {
        margin-left: 400px;
    }
    
    .burn_bush {
        margin-left: -5px;
        height: 200px;
    }
    
    .reviews {
        margin: 50px;
    }
    
    #stamps {
        margin-top: 50px;
        margin-left: -5px;
    }
    
    .footer {
        margin-top: 100px;
    }   
}

/* Large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1200px) { 
    .my_name {
        margin-left: 400px;
        margin-bottom: 30px;
    
    }
    
    #square_profile_pic {
        float: none;
        margin-left: 530px;
    }
    
    .about_p {
        margin: 0px 150px 20px;
    }
    
    .book_cover,
    .buy_now_button,
    .k_book_store {
        padding-left: 130px;
    }
    
    #stamps {
        height: 200px;
    }
    
    .social_email,
    .social_email2 {
        margin-left: 300px;
    }
    
    #event_pics {
        height: 200px;
        width: 200px;
    }
    
    .reviews {
        margin: 30px 150px 50px;
    }
    
    
}

























