/*******************************
    Fonts
********************************/

h1,
h2,
nav ul li,
a:link {
    font-family: "Shadows Into Light", Helvetica, Arial, sans-serif!important;
    
}

h3,
h4, 
p {
    font-family: "Quicksand", Helvetica, Arial, sans-serif!important;
}

h1 {
    text-shadow: 2px 2px #616161;
}

nav ul li,
a:link {
    font-size: 1.5em;
}

a:link {
    text-shadow: 1px 1px #bfbfbf;
    font-weight: 700;
}

/********************************
    Header
********************************/

h1 {
    color: #fff;
    font-size: 4em;
    position: absolute;
    margin-left: 510px;
}

nav a:link {
    text-decoration: none;
    margin-top: 150px;
}


/********************************
    Reviews
*********************************/


.reviews {
    padding: 5%;
    font-size: 17px;
}

.review_header {
    text-align: left;
    
}


/********************************
    Navagation
********************************/
.centered-pills {
    text-align: center;
}

.centered-pills ul.nav-pills {
    display: inline-block;
}


/********************************
    Images
********************************/

#dj_glasses {
    height: 250px;
    margin-left: 40px;
    
}

#fb_like {
    height: 200px;
    margin-left: 100px;
}

.coffee {
    height: 250px;
    position: relative;
    margin-bottom: -500px;
    margin-left: 150px;
    
}

.flower_background {
    height: 400px;
    position: relative;
    margin-left: 435px;
    margin-top: 75px;
    margin-bottom: -250px;
}

.monarch {
    height: 100px;
    postition: relative;
    margin-bottom: -500px;
    margin-left: 1000px
}



/********************************
        Events
********************************/

.fb_events {
    margin-left: 75px;
    font-size: 2em;
    font-weight: 700;
    margin-top: 75px;
}






/*********************************
        Store
*********************************/

h2, 
h3 {
    font-weight: 700;
    font-size: 2.5em;
}

h2,
h3, 
h4, 
.book_cover,
.k_book_store,
.c_book_store {
    margin-left: 150px;
}

.book_cover {
    margin-bottom: 50px;
}

h4 {
    font-weight: 700;
    font-size: 2em;
    margin-bottom: 30px;
}

.k_book_store, 
.c_book_store {
    margin-bottom: 45px;
}

/**********************************
    About
**********************************/

#square_profile_pic {
    height: 200px;
    float: left;
    margin-left: 30px;
}

.normal_links {
    margin: 0px;
}

.about_p {
    margin-left: 250px;
    margin-top: 75px;
    margin-right: 50px;
    font-size: 1.5em;
}



/*********************************
    Footer
*********************************/






















