/*******************************
    Fonts
********************************/

h2,
nav ul li,
a:link {
    font-family: "Simonetta", cursive, Helvetica, Arial, sans-serif!important;
    
}

h3,
h4, 
p {
    font-family: "Simonetta", cursive, Helvetica, Arial, sans-serif!important;
}

h1 {
    text-shadow: 2px 2px #616161;
    font-family: "Dawning of a New Day", cursive, Helvetica, Arial, sans-serif!important;
    
}

nav ul li,
a:link {
    font-size: 1.5em;
}

a:link {
    text-shadow: 1px 1px #bfbfbf;
    font-weight: 700;
}

h2 {
    text-align: center;
}

/********************************
    Header
********************************/

h1 {
    color: #fff;
    font-size: 4em;
    position: absolute;
    margin-left: 550px;
    margin-top: 200px
}

nav a:link {
    text-decoration: none;
    margin-top: 300px;
}

.main_header {
    background: #FF4D97 url(../images/thistle_image.jpeg) no-repeat center/cover;
    opacity: /***for a later date*/;
    height: 450px;
}

/**********************May or may not need this
h1,
nav a:link {
    opacity: none;
}

************************************************/

/********************************
    Reviews
*********************************/


.reviews {
    padding: 5%;
    font-size: 17px;
}

.review_header {
    text-align: left;
    
}


/********************************
    Navagation
********************************/
.centered-pills {
    text-align: center;
}

.centered-pills ul.nav-pills {
    display: inline-block;
}


/********************************
    Images
********************************/

#dj_glasses {
    height: 250px;
    margin-left: 40px;
    
}

#fb_like {
    height: 200px;
    margin-left: 100px;
}


/********************************
        Events
********************************/

.fb_events {
    margin-left: 75px;
    font-size: 2em;
    font-weight: 700;
    margin-top: 75px;
}






/*********************************
        Store
*********************************/

h2 {
    font-weight: 700;
    font-size: 2.5em;
    margin-top: 50px;
}
 
.book_cover,
.k_book_store,
.c_book_store {
    margin-left: 150px;
}

.book_cover {
    height: 500px;
    margin-left: 350px;
    margin-top: 50px;
}

h2 {
    font-weight: 700;
    font-size: 2em;
    margin-bottom: 30px;
}

.k_book_store, 
.c_book_store {
    margin-bottom: 45px;
}

.buy_now_button {
    margin-left: 550px;
    height: 40px;
}

/**********************************
    About
**********************************/

#square_profile_pic {
    height: 200px;
    margin-left: 550px;
    margin-top: 30px;
}

.about_p {
    margin-left: 250px;
    margin-right: 250px;
    font-size: 1.5em;
}

#top_p {
    margin-top: 45px;
}

.normal_links {
    margin: 0px;
}



/*********************************
    Footer
*********************************/






















